<% provide(:title, 'About') %>

  <div class="about_main">
  		<h1>About PrimeBee</h1>
        <p>
        	PrimeBee is a platform that brings extraordinary people together. It is an exclusive club which matches users on the basis of their key personality traits, interests and likes. PrimeBee allows users to connect by suggesting a variety of on-line and real world activities. PrimeBee is different from other Social Networking/Dating sites as it matches users and allows each user to meet interesting new people, make friends and much more outside of their existing social networks.  The initial target subscribers of PrimeBee are the college students and alumnus of Top Engineering and Business Schools in India. 
        </p>
        <p>
        	How we formed PrimeBee?
        </p>
        <p>
        	PrimeBee: Prime + Bee
        </p>
        <p>
        	Prime: Elite, Top notch, Of the highest grade<br>
Bee: Business Schools, Engineering Colleges, Elite Employers
        </p>
  		<div class="about_main_shadow"></div>
  </div>