<% provide(:title, 'Home') %>

<div class="mainbg">
  <div class="leftform">
    <div class="ribbon">
      <p class="ribbontext">Member Sign Up</p>
    </div>
    <form action="#" method="post" onsubmit="return validateForm();" name="myForm">
     <table>
       <tr>
         <td class="tableleft">First Name:</td>
         <td class="tableright"><input type="text" class="textbox" name="fname"></td>
       </tr>
       <tr>
         <td class="tableleft"></td>
         <td class="tableright"><p class="note">First name only please!</p></td>
       </tr>
       <br/>
       <tr>
       <td class="tableleft">Last Name:</td>
       <td class="tableright"><input type="text" class="textbox" name="lname">
       </td>
       </tr>
         <tr>
       <td class="tableleft">School: </td>
       <td class="innertableright"><select class="selectbox" name="school">
       <option selected>School</option>
          <option value="primebee">primebee</option>
        <option value="creativejuices">creativejuices</option>
        <option value="gmail">gmail</option>
        <option value="poddacvn d">poddacvn d</option>
        <option value="poddacvn asd">poddacvn asd</option>
        <option value="sadffacefwefew">sadffacefwefew</option>
         </select>
         </td>
         </tr>
          <tr>
         <td class="tableleft">I am a:</td>
         <td class="tableright"><select class="selectbox2" name="sex">
         <option value="m">Male</option>
         <option value="f">Female</option>
         </select>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Intrested in:&nbsp;&nbsp; <select class="selectbox2" name="intrest">
         <option value="f">Female</option>
         <option value="m">Male</option>
         </select>
         </td>
         </tr>
          <tr>
         <td class="tableleft">Email:</td>
         <td class="tableright"><input type="text" class="textbox" name="email">
         </td>
         </tr>
          <tr>
         <td class="tableleft"></td>
         <td class="tableright"><p class="note">Note: Your email is used to log back in</p>
         </td>
         </tr>
         <tr>
         <td class="tableleft">Password :</td>
         <td class="tableright"><input type="password" class="textbox" name="pass">
         </td>
         </tr>
         <tr>
         <td class="tableleft">Confirm Password:</td>
         <td class="tableright"><input type="password" class="textbox" name="chkpass">
         </td>
         </tr>
          <tr>
         <td class="tableleft"></td>
         <td class="tableright"><p class="note">Must be at least 5 characters</p>
         </td>
         </tr>

       </table>
       <button class="signupbttn" type="submit" value="submit" name="submit"></button>
    </form>
</div>


  <div class="rightside">
    <h1>Bringing India's smartest together!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, purus ut gravida dictum, nulla odio rhoncus magna, eget facilisis eros sapien sit amet magna.
    </p>
    <div class="rightgirl">
    </div>
  </div>
</div>




