<% provide(:title, 'Home') %>

<div class="mainbg">
  <div class="leftform">
    <div class="ribbon"><p class="ribbontext">Member Sign Up</p></div>
    <form action="#" method="post" onsubmit="return validateForm();" name="myForm">
      <table>
        <tr>
          <td class="tableleft">I am a:</td>
          <td class="tableright">
            <select class="selectbox2" name="sex">
              <option value="f">woman</option>
              <option value="m">man</option>
            </select>
            interested in a: 
            <select class="selectbox2" name="intrest">
              <option value="m">man</option>
              <option value="f">woman</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="tableleft">Username:</td>
          <td class="tableright"><input type="text" class="textbox" name="username"></td>
        </tr>
        <tr>
          <td class="tableleft">Email:</td>
          <td class="tableright"><input type="text" class="textbox" name="email"></td>
        </tr>
        <tr>
         <td class="tableleft"></td>
         <td class="tableright"><p class="note">Your email will never be displayed.</p></td>
        </tr>
        <tr>
          <td class="tableleft">Password:</td>
          <td class="tableright"><input type="password" class="textbox" name="pass"></td>
        </tr>
        <tr>
          <td class="tableleft">Confirm Password:</td>
          <td class="tableright"><input type="password" class="textbox" name="chkpass"></td>
        </tr>
        <tr>
          <td class="tableleft"></td>
          <td class="tableright"><p class="note">Must be at least 5 characters</p></td>
        </tr>
      </table>
      <button class="signupbttn" type="submit" value="submit" name="submit"></button>
    </form>
  </div>

  <div class="rightside">
    <h1>Bringing India's smartest together!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur, purus ut gravida dictum, nulla odio rhoncus magna, eget facilisis eros sapien sit amet magna.
    </p>
    <div class="rightgirl"></div>
  </div>
</div>




