<% provide(:title, 'Why') %>

<div class="why_primebee">
  <h1>Why PrimeBee.</h1>
  <p>More than A Date.</p>
  <p>We understand that you don't want a date. You want to go on a date.</p> <!-- This paragraph makes no sense. -->
  <p>
    PrimeBee screens and matches similar minded compatible profiles who like the same places and want to do the same things as you. It s fun and easy for you to take the first steps in figuring out who that is as you meet in person doing stuff you (would) like at the places you (would) like . PrimeBee maintains complete confidentiality of its users by eliminating the "search user" altogether. Only users matched by PrimeBee can interact with each other.
  </p>
  <h2>PrimeBee Membership is free. No subscription fee is charged for using any services/features of PrimeBee.</h2>
</div>