<header>
<div class="head"></div>
<div class="wrapper">
  <!--head-->
  <div class="header">
    <p>Bringing India's smartest together!</p>
    <div class="socialmedia"><a href="login.php" class="login"><img src="http://primebee.com/images/lock.png" width="11" height="15"> MEMBER LOGIN</a> <a class="facebook" href="#"></a> <a class="twitter" href="#"></a>
      <div class="googleplus">
        <g:plusone href="http://www.example.com/"></g:plusone>
   </div>
   <div class="clear">
      </div>
    </div>
  </div>
</header>