<header>

  <div class="header">
    <div class= "wrapper">
      <div class = "header_logo">
        <%= link_to image_tag("http://primebee.com/images/innerlogo.png"),   root_path %></div>
      <div class="socialmedia">
        <a href="login.php" class="login">
          <img src="http://primebee.com/images/lock.png" width="11" height="15"> MEMBER LOGIN</a>
        <a class="facebook" href="#"></a> 
        <a class="twitter" href="#"></a>
        <div class="googleplus">
          <g:plusone href="http://www.example.com/"></g:plusone>
        </div>
      </div>
    </div>
  </div>

</header>